<!DOCTYPE html>
<html>
<head>
	<title>Nelisa Spaza</title>
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/main_page.css">
	<!--link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'-->
</head>
<body>
	<div class="nav navbar navbar-default navbar-fixed-top">
		<a href="/"><h1>Nelisa Spaza Shop</h1></a>
	</div>
	
	<!--main-container div encases the buton and the tables that appear below-->
	<div class="main-container container">
			<!-- button starts-->
		<div class="navbar container btn-container col-xs-12">
			<div class="row col-xs-12">
				<button onclick="location.href='category_earnings'" class="col-xs-3">
					Category Earnings
				</button>
	
				<button onclick="location.href='category_sales_per_day_per_week'" class="col-xs-3">
					Category Sales: (Day/Week)
				</button>
	
				<button onclick="location.href='category_profits'" class="col-xs-3">
					Category Profits
				</button>

				<button onclick="location.href='daily_profits'" class="col-xs-3">
					Average Daily Profits
				</button>
			</div>

			<div class="row col-xs-12">

				<button onclick="location.href='entire_stock'" class="col-xs-3">
					Entire Stock
				</button>

				<button onclick="location.href='regular_sales'" class="col-xs-3">
					Most Regular Sales
				</button>

				<button onclick="location.href='popular_categories'" class="col-xs-3">
					Popular Categories
				</button>

				<button onclick="location.href='popular_products'" class="col-xs-3">
					Popular Products
				</button>
			</div>

			<div class="row col-xs-12">

				<button onclick="location.href='products_price_cost'" class="col-xs-3">
					Products Price and Cost
				</button>

				<button onclick="location.href='product_earnings'" class="col-xs-3">
					Product Earnings
				</button>

				<button onclick="location.href='products_per_day_per_week'" class="col-xs-3">
					Product Sales: (Day/Week)
				</button>

				<button onclick="location.href='product_profits'" class="col-xs-3">
					Product Profits
				</button>
			</div>

			<div class="row col-xs-12">
				<button onclick="location.href='sales_per_day'" class="col-xs-3">
					Sales Per Day
				</button>
	
				<button onclick="location.href='stock_rates'" class="col-xs-3">
					Stock Rates
				</button>
	
				<button onclick="location.href='supplier_popular_product'" class="col-xs-3">
					Supplier of Most Popular Product
				</button>
	
				<button onclick="location.href='supplier_profitable_product'" class="col-xs-3">
					Most Profitable Product Supplier
				</button>
			</div>
		</div>
		{{{body}}}
	</div>
	<!-- main-container ends here -->


	<footer class="navbar-fixed-bottom">
		<div class="footer-right">
			<div class="col-xs-1 developers"><a href="/#">developers</a></div>
			<div class="col-xs-1 copyright"><a href="/#">copyright</a></div>
			<div class="col-xs-1 disclaimer"><a href="/#">disclaimer</a></div>
		</div>

		<div class="footer-left">
			<div class="col-xs-2">Powered by <a href="http://www.projectcodex.co">CodeX</a></div>
		</div>
	</footer>

</body>



</html>