<div class="cols-xs-10 shifter">

	<h2>Category Earnings</h2>

	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Category</th> <th>Earnings</th>
			</tr>
		</thead>
	
		{{#data}}
			<tr>
				<td>{{category}}</td><td>R{{earnings}}</td>
			</tr>
		{{/data}}

	</table>
</div>