<div class="cols-xs-10 shifter">
	<h2>Daily Profits</h2>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Day</th> <th>Average Profits</th>
			</tr>
		</thead>
	
		{{#each data}}
			<tr>
				<td>{{day}}</td><td>R{{profit}}</td>
			</tr>
		{{/each}}

	</table>
</div>