<div class="cols-xs-10 shifter">
	<h2>Product Profits</h2>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Product</th> <th>Profits</th>
			</tr>
		</thead>
	
		{{#data}}
			<tr>
<<<<<<< HEAD
				<td>{{product}}</td><td>R{{profits}}</td>
=======
				<td>{{stock_item}}</td><td>R{{profits}}</td>
>>>>>>> 1e6cf3bceab139b2c43456a15feb7c3abb7284e5
			</tr>
		{{/data}}

	</table>
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> 1e6cf3bceab139b2c43456a15feb7c3abb7284e5
