<div class="cols-xs-10 shifter">
	<h2>Regular Sales</h2>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Product</th> <th>Frequency of Sales</th>
			</tr>
		</thead>
	
		{{#each data}}
			<tr>
				<td>{{product}}</td><td>{{frequency}}</td>
			</tr>
		{{/each}}

	</table>
</div>