<div class="cols-xs-10 shifter">
	<h2>Average Sales per Weekday</h2>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Product</th> <th>Average Sales of Day</th>
			</tr>
		</thead>
	
		{{#each data}}
			<tr>
				<td>{{day}}</td><td>{{avg}}</td>
			</tr>
		{{/each}}

	</table>
</div>