<div class="cols-xs-10 shifter">
	<h2>Stock Rates</h2>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Product</th> <th>Rate of Decrease(%)</th>
			</tr>
		</thead>
	
		{{#each data}}
			<tr>
				<td>{{product}}</td><td>{{percent_left}}</td>
			</tr>
		{{/each}}

	</table>
</div>